@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


/* app/globals.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 1rem;
}

/* Reusable classes */
.card {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.btn {
  background: linear-gradient(to right, #BBA3E4, #E7A1A0);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}
.btn:hover {
  background: #db2777;
}

.btn-outline {
  border: 1px solid #ec4899;
  background: transparent;
  color: #ec4899;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}
